In [ ]:
##문자열로 구성된 리스트의 합을 구하는 함수를 생성하세요 testList = ["11","22","33","44","55"] * 리스트의 sum 함수는 숫자에서만 적용됨

In [2]:
inputList=["11","1234","222","555"]

In [7]:
def listSum(inputList):
    sumation=0
    for i in range(0,len(inputList)):
        sumation= sumation+ float(inputList[i])
    return sumation

In [8]:
listSum(inputList)

2022.0

In [3]:
def listSum(inputList):
    sumation=0
    for i in range(0,len(inputList)):
        sumation=sumation+float(inputList[i])
    return sumation

In [4]:
listSum(inputList)

2022.0

In [1]:
import pandas as pd
import pymysql
import psycopg2
from sqlalchemy import create_engine
engine_mariadb = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo')
selloutData=pd.read_sql_query('SELECT*FROM kopo_product_volume',engine_mariadb)
selloutData
selloutData.columns=['AA','BB','CC','DD']
selloutData
engine_postgres = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo')
resultname='kopo_product_volume_선영'
selloutData.to_sql(resultname,engine_postgres,if_exists='replace',index=False)