In [1]:
import numpy as np
import pandas as pd
# 모델 라이브러리 선언
from sklearn import svm
# Test/Training wkehdqnsfl
from sklearn.model_selection import train_test_split
#모델 정확도 라이브러리 선언
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
np.random.seed(42)

In [3]:
#CSV 파일을 읽어 DataFrame 변수에 저장하기
csData = pd.read_csv("./dataset/customer.csv")
csData.head()

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

In [4]:
### feature, label 컬럼 설정
featuresCol=['deposit','stock']
labelCol=['label']
### feature데이터, label데이터 분리
featuresData=csData[featuresCol]
labelData=csData[labelCol]
### train_test_split 함수를 활용해 feature / label 데이터 자동 분리 7:3
feature_train, feature_test, label_train, label_test = \
train_test_split(featuresData, labelData, test_size = 0.3)

In [5]:
len(feature_train)

14000

In [6]:
##3.모델선언 및 학습
### Define Model
model = svm.SVC()
### Learning (Feature & Label)
model.fit(feature_train, label_train)

C:\Users\SMART-14\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [7]:
##4.예측
## 테스트데이터 Feature만 가지고 예측하기
predict=model.predict(feature_test)
predict

array(['normal', 'diamond', 'diamond', ..., 'normal', 'diamond',
       'diamond'], dtype=object)

In [8]:
### 데이터프레임으로 변환
predictData = pd.DataFrame(predict)
# ###컬럼명 주입
predictData.columns=["PREDICT"]#컬럼명 바꾸기!!
predictData.head()

   PREDICT
0   normal
1  diamond
2  diamond
3   normal
4  diamond

In [46]:
#테스트 데이터와 예측값을 붙이세요
finalData=csData.reset_index(drop=True)

finalResult=pd.concat([finalData,predictData],axis=1)

finalResult.head()

      deposit     stock    label  PREDICT
0  1400000000  45000000   normal   normal
1  1450000000  72000000  diamond  diamond
2  1500000000  61000000  diamond  diamond
3  1370000000  56000000   normal   normal
4  1920000000  48000000  diamond  diamond

In [10]:
##6.결과 검증
## 결과 테스트하기
ac_score = accuracy_score(label_test, predict)
cl_report = classification_report(label_test, predict)
## 결과 리포트하기
print("Accuracy =", ac_score)
print("result =\n", cl_report)

Accuracy = 0.9906666666666667
result =
              precision    recall  f1-score   support

    diamond       0.98      1.00      0.99      3580
     normal       1.00      0.98      0.99      1705
        vip       1.00      0.97      0.99       715

avg / total       0.99      0.99      0.99      6000

In [14]:
bmiData=pd.read_csv("./dataset/bmi.csv")
bmiData.head()

   height  weight   label
0     140      45  normal
1     145      72     fat
2     150      61     fat
3     137      56     fat
4     192      48    thin

In [44]:
len(bmiData)

20000

In [25]:
featuresCol1=['height','weight']
labelCol1=['label']
featuresData1=bmiData[featuresCol1]
labelData1=bmiData[labelCol1]
feature_train, feature_test, label_train, label_test = \
train_test_split(featuresData1, labelData1, test_size = 0.3)

In [26]:

model1 = svm.SVC()
model1.fit(feature_train, label_train)

C:\Users\SMART-14\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [27]:
predict1=model1.predict(feature_test)
predict1

array(['fat', 'fat', 'normal', ..., 'fat', 'normal', 'normal'],
      dtype=object)

In [28]:

predictData1 = pd.DataFrame(predict1)
# ###컬럼명 주입
predictData1.columns=["PREDICT"]#컬럼명 바꾸기!!
predictData1.head()

  PREDICT
0     fat
1     fat
2  normal
3    thin
4     fat

In [41]:
finalData1=label_test.reset_index(drop=True)
finalData2=feature_test.reset_index(drop=True)
finalResult1=pd.concat([finalData1,predictData1,finalData2],axis=1)

finalResult1.head()

    label PREDICT  height  weight
0     fat     fat     132      56
1     fat     fat     121      62
2  normal  normal     172      70
3    thin    thin     141      35
4     fat     fat     125      47

In [42]:
finalResult1.head()

    label PREDICT  height  weight
0     fat     fat     132      56
1     fat     fat     121      62
2  normal  normal     172      70
3    thin    thin     141      35
4     fat     fat     125      47

In [43]:
len(finalResult1)

6000

In [40]:
finalResult1.to_csv("./finalbmiData.csv")

In [30]:
ac_score = accuracy_score(label_test, predict1)
cl_report = classification_report(label_test, predict1)
## 결과 리포트하기
print("Accuracy =", ac_score)
print("result =\n", cl_report)

Accuracy = 0.9996666666666667
result =
              precision    recall  f1-score   support

        fat       1.00      1.00      1.00      2346
     normal       1.00      1.00      1.00      1784
       thin       1.00      1.00      1.00      1870

avg / total       1.00      1.00      1.00      6000