In [1]:
#라이브러리 정의 import tensorflow.kera s
import keras
from keras import layers
import numpy as np
import pandas as pd

C:\Users\SMART-14\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
selloutData=pd.read_csv("./dataset/kopo_decision_tree_all_new.csv")
selloutData.dtypes

REGIONID         object
PRODUCTGROUP     object
PRODUCT          object
ITEM             object
YEARWEEK          int64
YEAR              int64
WEEK              int64
QTY               int64
HOLIDAY          object
HCLUS             int64
PROMOTION        object
PRO_PERCENT     float64
dtype: object

In [3]:
groupKey=["REGIONID","PRODUCTGROUP","PRODUCT","ITEM"]

In [4]:
groupData=selloutData.groupby(groupKey)["YEARWEEK"].agg(["size"]).reset_index()

In [5]:
groupData.rename(columns={"size":"KNOB"},inplace=True)
groupData.head()

  REGIONID PRODUCTGROUP PRODUCT     ITEM  KNOB
0      A01         PG01     P01  ITEM001     3
1      A01         PG01     P01  ITEM002     2
2      A01         PG01     P01  ITEM003     1
3      A01         PG01     P01  ITEM004     7
4      A01         PG01     P01  ITEM005     8

In [6]:
cleansedData=pd.merge(left = selloutData,right = groupData,on = groupKey,how="left")    ##기본키로 조인
cleansedData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,KNOB
0,A01,PG01,P01,ITEM001,201538,2015,38,1,N,4,N,0.0,3
1,A01,PG01,P01,ITEM001,201548,2015,48,1,Y,0,N,0.0,3
2,A01,PG01,P01,ITEM001,201549,2015,49,2,Y,0,N,0.0,3
3,A01,PG01,P01,ITEM002,201526,2015,26,1,Y,1,N,0.0,2
4,A01,PG01,P01,ITEM002,201532,2015,32,1,N,4,N,0.0,2

In [7]:
MAXKNOB=cleansedData.KNOB.max()
MAXKNOB

146

In [8]:
cleansedData=cleansedData[cleansedData.KNOB >= MAXKNOB]
cleansedData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,KNOB
2352,A01,PG02,P03,ITEM043,201501,2015,1,87,Y,1,Y,0.197590,146
2353,A01,PG02,P03,ITEM043,201502,2015,2,60,N,4,Y,0.197590,146
2354,A01,PG02,P03,ITEM043,201503,2015,3,51,N,4,N,0.000000,146
2355,A01,PG02,P03,ITEM043,201504,2015,4,37,Y,2,N,0.000000,146
2356,A01,PG02,P03,ITEM043,201505,2015,5,136,N,4,Y,0.201205,146

In [9]:
len(cleansedData.ITEM.unique())

52

In [10]:
#데이터 불러오기 및 정렬
sortKey = ["REGIONID","PRODUCTGROUP","PRODUCT","ITEM","YEARWEEK"]
featureData = cleansedData.sort_values(sortKey).reset_index(drop=True)
featureData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,KNOB
0,A01,PG02,P03,ITEM043,201501,2015,1,87,Y,1,Y,0.197590,146
1,A01,PG02,P03,ITEM043,201502,2015,2,60,N,4,Y,0.197590,146
2,A01,PG02,P03,ITEM043,201503,2015,3,51,N,4,N,0.000000,146
3,A01,PG02,P03,ITEM043,201504,2015,4,37,Y,2,N,0.000000,146
4,A01,PG02,P03,ITEM043,201505,2015,5,136,N,4,Y,0.201205,146

In [11]:
#숫자형 컬럼 생성
featureData["HOLIDAY_YN"] = np.where(featureData.HOLIDAY=="Y",1,0)
featureData["PROMOTION_YN"] = np.where(featureData.PROMOTION=="Y",1,0)
featureData.head()

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,KNOB,HOLIDAY_YN,PROMOTION_YN
0,A01,PG02,P03,ITEM043,201501,2015,1,87,Y,1,Y,0.197590,146,1,1
1,A01,PG02,P03,ITEM043,201502,2015,2,60,N,4,Y,0.197590,146,0,1
2,A01,PG02,P03,ITEM043,201503,2015,3,51,N,4,N,0.000000,146,0,0
3,A01,PG02,P03,ITEM043,201504,2015,4,37,Y,2,N,0.000000,146,1,0
4,A01,PG02,P03,ITEM043,201505,2015,5,136,N,4,Y,0.201205,146,0,1

In [12]:
# #sklearn
# from sklearn.preprocessing import LabelEncoder
# le_pro = LabelEncoder()
# le_holy =LabelEncoder()
# featureData['ITEM_ENCO']= le_pro.fit_transform(featureData.ITEM)
# featureData.head()

In [13]:
# # 특정 주차 기준 분리(8:2)
# indexStd = round(len(featureData)*0.8)
# featureData.iloc[0:indexStd,:]
# yearweekStd = featureData.YEARWEEK[indexStd]
yearweekStd=201701

In [14]:
groupData=featureData.groupby(groupKey)

In [ ]:
onegroup = groupData.get_group( list(groupData.groups)[2] )
eachgroup = onegroup.reset_index(drop=True)

train_dataset = groupData[groupData.YEARWEEK <= yearweekStd]
test_dataset = groupData[groupData.YEARWEEK > yearweekStd]

In [ ]:
# 인덱스 초기화
train_dataset = train_dataset.reset_index(drop=True)
test_dataset = test_dataset.reset_index(drop=True)

In [ ]:
# 답지 별도 분리
train_labels = train_dataset["QTY"]
test_labels = test_dataset["QTY"]

In [ ]:
corr_result = train_dataset.corr()
corr_result

#상관관계 계수 비율 선정
featuresStd =0.6
features_key = corr_result[ (abs(corr_result.QTY) >= 0.5) & (corr_result.QTY != 1)].index.tolist()
features_key

In [ ]:
###걍 내가 넣음!
features_key= ['HCLUS']
# features_key= ['HCLUS','ITEM_ENCO']
# features_key= ['HCLUS', 'PRO_PERCENT', 'HOLIDAY_YN', 'PROMOTION_YN','ITEM_ENCO']

In [ ]:
label_key = ['QTY']
full_key = features_key+label_key
full_key

In [ ]:
def norm(x):
 return (x / x.max())
normed_train_data = norm(train_dataset[features_key])
normed_test_data = norm(test_dataset[features_key])

In [ ]:
normed_train_data.head()

In [ ]:
normed_test_data.head()

In [ ]:
n_cols =len(features_key)
n_cols

In [ ]:
from keras import Sequential
from keras.layers import Dense
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(n_cols,)))
model.add(Dense(64, activation='relu'))
model.add(Dense(1))

In [ ]:
def build_model():
    model = keras.Sequential([
        layers.Dense(64, activation="relu", input_shape=[len(features_key)]),
        layers.Dense(64, activation="relu"),
        layers.Dense(1)
    ])

    optimizer = keras.optimizers.Adam()

    model.compile(loss='mean_squared_error',optimizer=optimizer,metrics=['mean_absolute_error', 'mean_squared_error'])
    return model

In [ ]:
model = build_model()
model.summary()

In [15]:
from keras.callbacks import EarlyStopping
#더이상 에러율이 향상되지 않을 시 정지한다 , 단 patience 옵션 유지 너무빨리 끝나는거 방지
early_stopping_monitor = EarlyStopping(patience=50)
EPOCHS = 2000
#모델 훈련 훈련 검증을 80%, 20% 로 나눔
history =model.fit(normed_train_data, train_labels, validation_split=0.2, epochs= EPOCHS,
callbacks=[early_stopping_monitor])
loss, mae, mse = model.evaluate(normed_test_data, test_labels, verbose=0)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(12,8))
#훈련 데이터의 mse
plt.plot(history.history['mean_squared_error'])
#검증 데이터의 mse
plt.plot(history.history['val_mean_squared_error'])
plt.legend(['mse','val_mse'])
plt.grid()

In [ ]:
import math
# loss,mae , rmse 결과 확인
loss,mae,mse = model.evaluate(normed_test_data,test_labels,verbose=0)
#mae 및 mse 결과 확인
mae

In [ ]:
math.sqrt(mse)