In [ ]:
name=input("성함을 입력하세요:")
print(name)

성함을 입력하세요:임선영

In [8]:
# PANDAS 패키지 불러오기
import pandas as pd
import pymysql
from sqlalchemy import create_engine
#DB커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo')
#DB테이블을 읽어 Data Frame변수에 저장하기
selloutData=pd.read_sql_query('SELECT*FROM kopo_product_volume',engine)
selloutData
#컴럼 해더 재정의
selloutData.columns=['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
#데이터저장
resultname='mysql_sy'
selloutData.to_sql(resultname,engine,if_exists='replace',index=False)

In [ ]:
#데이터불러오기 (오라클)

In [31]:
import pandas as pd
from sqlalchemy import create_engine 
# DB 커넥션 열기
engine_oracle = create_engine('oracle+cx_oracle://kopo2019:kopo2019@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine_oracle) 

# 컬럼해더 재정의
selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
 
#데이터VIEW
selloutData.head(2)
                       
#데이터 저장
#resultname='oracleresult'
#selloutData.to_sql(resultname,engine,if_exists='replace',index=False)

  REGIONID PRODUCTGROUP YEARWEEK    VOLUME
0      A01       ST0001   201415  810144.0
1      A01       ST0002   201415  128999.0

In [ ]:
#데이터불러오기postgres

In [32]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine 
engine_postgres = create_engine('postgresql://postgres:postgres@192.168.110.111:5432/kopo')
#selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 
#selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']
selloutData.head()
resultname='postgres_sy'
selloutData.to_sql(resultname,engine_postgres,if_exists='replace',index=False)

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [6]:

selloutdata=pd.read_csv("./dataset/kopo_product_volume.csv")

resultname='kopo_product_volume.csv'
engine_postgres = create_engine('postgresql://postgres:postgres@192.168.110.111:5432/kopo')
selloutData.to_sql(resultname,engine_postgres,if_exists='replace',index=False)