In [6]:
tvList =['UN40EN001','UN40EN002','UN40EN003','UN40EN004']

In [7]:
range(0,4)

range(0, 4)

In [8]:
preFix="LED_TV"

In [9]:
for i in range(0,4):
    tvList[i] = preFix + tvList[i]

In [10]:
tvList

['LED_TVUN40EN001', 'LED_TVUN40EN002', 'LED_TVUN40EN003', 'LED_TVUN40EN004']

In [1]:
tvList =['UN40EN001','UN40EN002','UN40EN003','UN40EN004']

In [2]:
preFix="LED_TV"

In [3]:
i=0
tvListLen=len(tvList)

In [4]:
while(i<4):
    tvList[i] = preFix + tvList[i]
    i=i+1

In [5]:
tvList

['LED_TVUN40EN001', 'LED_TVUN40EN002', 'LED_TVUN40EN003', 'LED_TVUN40EN004']

In [13]:
n=5
print("{0}단 시작".format(n))

5단 시작

In [14]:
a=1
b=2
c=a*b
print("{0}*{1}={2}".format(a,b,c))

1*2=2

In [28]:
for n in range(1,3):
    print("{0}단 시작".format(n))
    for i in (1,10):
        for i in (1,10):
            print("{0} * {1} = {2} ".format(n, i, n*i))

1단 시작
1 * 1 = 1
1 * 10 = 10
1 * 1 = 1
1 * 10 = 10
2단 시작
2 * 1 = 2
2 * 10 = 20
2 * 1 = 2
2 * 10 = 20

In [20]:
n=1

In [21]:
print("{0}단 시작".format(n))

1단 시작

In [22]:
i=1

In [23]:
print("{0} * {1} = {2} ".format(n, i, n*i))

1 * 1 = 1

In [18]:
for n in [1,2]:
    print("{0}단 시작".format(n))
    for i in [1,2,3,4,5,6,7,8,9]:
        print("{0} * {1} = {2} ".format(n, i, n*i))

1단 시작
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2단 시작
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [29]:
a=3.2
a

3.2

In [31]:
type(a)

float

In [34]:
b="korea"

In [35]:
type(b)

str

In [38]:
import pandas as pd

In [45]:
customerData=pd.read_csv("./dataset/kopo_customerdata.csv")

In [46]:
customerData

,CUSTOMERCODE,STATENAME,ST,GENDER,DOB,GENDER1,EMAIL,FEST_CNT,TOTAL_AMOUNT,AC_AMOUNT,AV_AMOUNT,HA_AMOUNT,EMI_CE_AMOUNT,IS_HIGHEND,CNT_VIST,GAP_VISIT
0,1503989,State2,2,Male,0,1,1,0,30300,0,30300,0,0,0,1,0
1,1190338,State2,2,Male,0,1,0,1,46500,0,46500,0,0,0,1,0
2,1424715,State2,2,Female,0,2,0,0,22700,0,0,22700,0,0,1,0
3,2483305,State2,2,Male,0,1,0,1,31400,0,31400,0,0,0,1,0
4,1178802,State2,2,Male,0,1,0,1,44900,0,0,44900,0,0,1,0
5,859044,State2,2,Male,0,1,0,0,38300,38300,0,0,0,0,1,0
6,734198,State2,2,Female,0,2,0,0,19900,0,0,19900,0,0,1,0
7,1443485,State2,2,Female,0,2,0,0,14800,0,0,14800,0,0,1,0
8,2340520,State2,2,Male,0,1,0,1,24400,0,0,24400,0,0,1,0
9,697949,State2,2,Male,0,1,0,1,30400,0,0,30400,0,0,1,0
10,385031,State2,2,Male,0,1,0,1,30300,0,0,30300,0,0,1,0
11,1944258,State2,2,Female,0,2,0,0,34300,0,18000,16300,0,0,1,0
12,2029521,State2,2,Female,0,2,0,0,14900,0,0,14900,0,0,1,0
13,1429192,State2,2,Male,0,1,0,0,16300,0,0,16300,0,0,1,0
14,892851,State2,2,Male,0,1,0,1,25000,0,0,25000,0,0,1,0
15,1554976,State2,2,Male,0,1,0,2,27500,0,0,27500,0,0,2,69
16,1154228,State2,2,Male,0,1,1,0,18200,0,0,18200,0,0,1,0
17,816582,State2,2,Male,0,1,0,1,40200,0,40200,0,0,0,2,940
18,675948,State2,2,Female,0,2,0,1,74600,0,0,74600,0,0,1,0
19,965940,State2,2,Male,0,1,0,0,42700,42700,0,0,0,0,1,0
20,2636314,State2,2,Male,0,1,0,0,14900,0,14900,0,0,0,1,0
21,577344,State2,2,Female,0,2,0,0,58700,0,24500,34200,0,0,2,21
22,910781,State2,2,Male,0,1,0,1,16000,0,16000,0,0,0,1,0
23,541107,State2,2,Female,0,2,0,1,17800,0,0,17800,0,0,1,0
24,1860112,State2,2,Male,0,1,0,0,26800,0,0,26800,0,0,1,0
25,1016762,State2,2,Male,1,1,0,1,14000,0,0,14000,0,0,1,0
26,2029821,State2,2,Male,0,1,0,0,31800,0,0,31800,0,0,1,0
27,765206,State2,2,Male,0,1,0,0,16000,0,0,16000,0,0,1,0
28,2174694,State2,2,Male,0,1,0,1,37600,0,0,37600,0,0,1,0
29,1196869,State2,2,Female,0,2,0,1,32800,0,16700,16100,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299970,2436525,State1,1,Male,0,1,0,1,67100,0,0,67100,0,0,1,0
299971,1238030,State1,1,Male,0,1,0,0,70100,0,55800,14300,0,0,3,663
299972,923009,State1,1,Male,0,1,0,1,17600,0,17600,0,0,0,1,0
299973,1433055,State1,1,Male,0,1,0,0,14200,0,0,14200,0,0,1,0
299974,2639022,State1,1,Male,0,1,0,0,66600,0,33000,33600,0,0,1,0
299975,1076615,State1,1,Male,0,1,0,1,35300,0,0,35300,0,0,1,0
299976,1017806,State1,1,Male,0,1,0,1,14900,0,0,14900,0,0,1,0
299977,1673649,State1,1,Male,0,1,0,2,26900,0,26900,0,0,0,2,511
299978,2304135,State1,1,Male,0,1,0,0,26300,0,26300,0,0,0,1,0
299979,726202,State1,1,Male,0,1,0,0,26300,0,26300,0,0,0,1,0
299980,2531738,State1,1,Male,0,1,0,0,13200,0,13200,0,0,0,1,0
299981,732024,State1,1,Male,0,1,0,0,13600,0,0,13600,0,0,1,0
299982,1829484,State1,1,Female,0,2,0,0,28500,0,0,28500,0,0,1,0
299983,923895,State1,1,Male,0,1,0,1,15600,0,15600,0,0,0,1,0
299984,2544242,State1,1,Male,0,1,0,0,18600,0,0,18600,0,0,1,0
299985,1006611,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0
299986,1795625,State1,1,Male,0,1,0,1,18400,0,0,18400,0,0,1,0
299987,731422,State1,1,Male,0,1,0,0,14800,0,0,14800,0,0,1,0
299988,463974,State1,1,Male,0,1,0,0,20400,0,0,20400,0,0,1,0
299989,1274816,State1,1,Male,0,1,0,1,15900,0,15900,0,0,0,1,0
299990,2034458,State1,1,Male,0,1,0,0,24300,0,0,24300,0,0,1,0
299991,1349673,State1,1,Male,0,1,0,1,21200,0,0,21200,0,0,1,0
299992,1098613,State1,1,Male,0,1,0,0,14000,0,14000,0,0,0,1,0
299993,721218,State1,1,Male,0,1,0,0,31400,0,0,31400,0,0,1,0
299994,598593,State1,1,Male,0,1,0,0,29000,0,0,29000,0,0,1,0
299995,465757,State1,1,Male,0,1,0,0,40600,0,40600,0,0,0,1,0
299996,1890264,State1,1,Male,0,1,0,1,48000,48000,0,0,0,0,1,0
299997,1857537,State1,1,Female,0,2,0,0,32300,0,0,32300,0,0,1,0
299998,2209324,State1,1,Male,0,1,0,1,48500,0,48500,0,0,0,1,0
299999,1875146,State1,1,Male,0,1,0,1,16500,0,0,16500,0,0,1,0

In [48]:
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()
customerTotalList

[30300,
 46500,
 22700,
 31400,
 44900,
 38300,
 19900,
 14800,
 24400,
 30400,
 30300,
 34300,
 14900,
 16300,
 25000,
 27500,
 18200,
 40200,
 74600,
 42700,
 14900,
 58700,
 16000,
 17800,
 26800,
 14000,
 31800,
 16000,
 37600,
 32800,
 176600,
 16200,
 102000,
 56800,
 14700,
 14800,
 2500,
 23600,
 38100,
 82300,
 62900,
 5000,
 16100,
 40900,
 14600,
 28600,
 12300,
 37800,
 32600,
 16100,
 18400,
 17700,
 9400,
 37400,
 8800,
 26600,
 20900,
 15800,
 14800,
 20500,
 19700,
 39900,
 122900,
 33000,
 12100,
 14700,
 48400,
 51900,
 17400,
 26500,
 12800,
 15500,
 21400,
 15300,
 36000,
 49000,
 35800,
 16900,
 43000,
 28200,
 45100,
 18200,
 20600,
 23900,
 14500,
 70000,
 15800,
 6600,
 40500,
 17000,
 43800,
 146800,
 86900,
 19200,
 17100,
 18800,
 24700,
 17500,
 25100,
 19000,
 18800,
 55700,
 31500,
 27800,
 16000,
 14100,
 17100,
 20600,
 19100,
 14500,
 29400,
 17700,
 54400,
 13100,
 33700,
 17600,
 29000,
 41300,
 27700,
 25900,
 21900,
 41100,
 15000,
 67100,
 29600,
 13900,
 21700,
 15200,
 13100,
 25600,
 12500,
 18600,
 30700,
 23000,
 41400,
 29400,
 40400,
 50600,
 34700,
 12800,
 26300,
 14900,
 14500,
 14100,
 72100,
 15600,
 31700,
 14500,
 15700,
 15800,
 33200,
 23300,
 15300,
 17000,
 16300,
 16800,
 73900,
 23400,
 15800,
 15700,
 21000,
 101500,
 35800,
 55600,
 33900,
 23600,
 15900,
 38100,
 13800,
 13500,
 42600,
 42900,
 18400,
 18900,
 12900,
 12800,
 20900,
 31200,
 36300,
 15800,
 14100,
 43400,
 29500,
 19000,
 22700,
 36000,
 62800,
 50400,
 61000,
 32200,
 78400,
 8100,
 19400,
 3000,
 17600,
 17300,
 16400,
 37700,
 17200,
 16400,
 19200,
 15300,
 14000,
 33700,
 13500,
 27500,
 48000,
 68500,
 16600,
 20400,
 7000,
 17700,
 12600,
 14400,
 40600,
 34500,
 72300,
 38800,
 45000,
 24000,
 28400,
 25700,
 39000,
 21700,
 5700,
 40800,
 22500,
 29000,
 120100,
 50900,
 29500,
 142800,
 15600,
 22400,
 18800,
 31600,
 15500,
 14800,
 19300,
 62100,
 16100,
 18800,
 14100,
 18300,
 17600,
 15700,
 16200,
 41500,
 18300,
 15900,
 54200,
 24600,
 21400,
 16200,
 15900,
 50400,
 14200,
 18200,
 20200,
 38600,
 12000,
 36000,
 16100,
 13400,
 16800,
 22500,
 15200,
 17600,
 12700,
 15400,
 21500,
 28300,
 16300,
 13300,
 19500,
 66600,
 17100,
 34600,
 5700,
 35400,
 33200,
 17900,
 27400,
 29200,
 85500,
 16300,
 19800,
 44600,
 41400,
 15600,
 16400,
 24100,
 17100,
 15500,
 18000,
 35100,
 19000,
 43400,
 52700,
 59900,
 15200,
 21600,
 17000,
 11500,
 17500,
 27800,
 114400,
 38700,
 22100,
 29600,
 16800,
 27400,
 16400,
 36300,
 16600,
 22500,
 19000,
 62500,
 27800,
 45000,
 28100,
 32700,
 33600,
 22100,
 30000,
 14600,
 14900,
 15300,
 2800,
 19700,
 21200,
 55700,
 92500,
 13800,
 31400,
 17300,
 20300,
 21800,
 29400,
 59500,
 16800,
 15300,
 14100,
 53700,
 69200,
 27800,
 33600,
 36300,
 31400,
 2700,
 19400,
 13600,
 93100,
 11700,
 21300,
 18200,
 2700,
 14600,
 14400,
 16100,
 23700,
 49300,
 15200,
 27100,
 23800,
 16200,
 17000,
 55700,
 20600,
 41400,
 17200,
 37200,
 42200,
 55400,
 11900,
 14300,
 27700,
 31200,
 16100,
 12300,
 25400,
 41800,
 26200,
 40300,
 20200,
 33700,
 35500,
 41600,
 18200,
 34200,
 16100,
 18500,
 16300,
 24200,
 29400,
 32000,
 19800,
 57900,
 29100,
 39900,
 15300,
 15000,
 14600,
 32500,
 29200,
 16500,
 18100,
 13200,
 23100,
 29800,
 35500,
 23700,
 16100,
 27600,
 22300,
 35300,
 16400,
 36100,
 14300,
 15400,
 59400,
 20600,
 15100,
 30900,
 13600,
 119500,
 21500,
 36800,
 30600,
 22900,
 13200,
 64900,
 14300,
 18000,
 16900,
 19300,
 25500,
 14600,
 17800,
 12500,
 13900,
 15800,
 19200,
 17500,
 19900,
 14700,
 15100,
 24400,
 27200,
 42700,
 14500,
 14700,
 30200,
 29500,
 32600,
 16000,
 15900,
 18000,
 18300,
 14500,
 29700,
 180300,
 24400,
 13000,
 17200,
 40200,
 13400,
 24600,
 17400,
 2700,
 17900,
 19900,
 11700,
 29200,
 13500,
 12300,
 30500,
 7200,
 14400,
 26300,
 33800,
 22100,
 17000,
 35300,
 14700,
 17900,
 16700,
 18600,
 37200,
 35300,
 23100,
 18600,
 17000,
 23100,
 33500,
 35400,
 49800,
 15700,
 14100,
 101000,
 26200,
 15700,
 87700,
 2500,
 33000,
 16900,
 18200,
 23500,
 17800,
 14800,
 34100,
 42500,
 13300,
 14400,
 36100,
 21700,
 25600,
 33000,
 36500,
 12300,
 74500,
 13000,
 19800,
 36400,
 24400,
 15400,
 81900,
 20800,
 31600,
 22700,
 46700,
 20100,
 30900,
 36900,
 39400,
 16200,
 46200,
 35700,
 65000,
 28700,
 18600,
 16200,
 17000,
 40700,
 42000,
 67000,
 14000,
 15000,
 35400,
 15000,
 14700,
 12700,
 29100,
 19500,
 14700,
 31800,
 50600,
 22300,
 18300,
 15400,
 15200,
 67600,
 50300,
 19600,
 136400,
 32600,
 2500,
 38500,
 17300,
 37200,
 19900,
 28700,
 14500,
 38900,
 22700,
 21300,
 2600,
 145500,
 34800,
 55300,
 24400,
 12200,
 15800,
 28600,
 14900,
 23800,
 14000,
 47200,
 30900,
 33700,
 14500,
 43400,
 22900,
 21800,
 29800,
 34800,
 31600,
 16700,
 38500,
 71400,
 24400,
 14200,
 21900,
 38000,
 17300,
 21500,
 18000,
 28000,
 67100,
 17800,
 18000,
 16300,
 81200,
 22300,
 15700,
 40800,
 29500,
 32800,
 14900,
 18300,
 14400,
 21900,
 93300,
 44300,
 19700,
 53000,
 39100,
 19800,
 13600,
 27200,
 2400,
 35600,
 62700,
 15900,
 30400,
 28600,
 14400,
 18300,
 2000,
 13500,
 20700,
 20400,
 15900,
 16500,
 32900,
 55300,
 26400,
 16400,
 17000,
 56600,
 63300,
 19400,
 17900,
 19300,
 22100,
 27500,
 16000,
 14200,
 39800,
 22200,
 16300,
 16200,
 34900,
 18000,
 17900,
 13700,
 26000,
 56100,
 16100,
 36000,
 41000,
 26100,
 444500,
 13500,
 23500,
 14000,
 14400,
 48700,
 15300,
 18200,
 2700,
 17200,
 26100,
 13900,
 23900,
 17300,
 20800,
 19900,
 14500,
 46000,
 10600,
 107600,
 43500,
 14000,
 6000,
 17200,
 55500,
 22900,
 25300,
 2800,
 57400,
 43200,
 34300,
 19800,
 21000,
 41000,
 55800,
 28200,
 11900,
 15000,
 18800,
 21500,
 19300,
 19600,
 53900,
 25600,
 15000,
 14400,
 74700,
 29400,
 15400,
 35100,
 24000,
 25700,
 53000,
 12800,
 16400,
 14400,
 22400,
 13100,
 35200,
 45700,
 14400,
 45500,
 46400,
 37800,
 27600,
 25000,
 44100,
 47400,
 41500,
 51700,
 25600,
 15700,
 45400,
 75400,
 57000,
 35700,
 89100,
 405200,
 32400,
 13700,
 57700,
 16900,
 72400,
 61300,
 8600,
 34700,
 24900,
 155500,
 54400,
 245700,
 42200,
 60300,
 206000,
 124000,
 507900,
 17500,
 26800,
 32300,
 25400,
 160100,
 65300,
 15800,
 106800,
 15800,
 87000,
 173400,
 26400,
 132900,
 155800,
 29500,
 22400,
 24500,
 58500,
 14300,
 15200,
 101200,
 40300,
 41600,
 146900,
 43700,
 182900,
 55500,
 39900,
 197100,
 66100,
 85600,
 36600,
 12200,
 50300,
 45800,
 36300,
 54700,
 52500,
 127100,
 28200,
 25700,
 129800,
 25500,
 94600,
 40500,
 65800,
 16100,
 36700,
 16200,
 128200,
 28000,
 32400,
 44400,
 72400,
 14300,
 31100,
 35500,
 32200,
 15900,
 37900,
 31100,
 35000,
 81800,
 155600,
 72800,
 40500,
 30300,
 44000,
 16800,
 43000,
 106100,
 80100,
 41600,
 68400,
 194600,
 36800,
 24200,
 35200,
 30900,
 24200,
 35200,
 35000,
 11300,
 20400,
 116000,
 101000,
 57900,
 16500,
 45000,
 55600,
 32000,
 30600,
 68000,
 84800,
 33700,
 68300,
 72700,
 39000,
 29100,
 155200,
 93500,
 17700,
 54100,
 13000,
 16000,
 25700,
 21500,
 22100,
 27300,
 13900,
 14100,
 140900,
 45800,
 8600,
 57000,
 16700,
 26100,
 33800,
 18500,
 14400,
 19700,
 13500,
 28200,
 68400,
 108500,
 15700,
 31500,
 43700,
 17000,
 28300,
 30800,
 38700,
 328300,
 236100,
 70900,
 87500,
 80100,
 12000,
 36000,
 79400,
 15400,
 84500,
 8500,
 14200,
 153500,
 41000,
 25200,
 84600,
 36000,
 95100,
 283500,
 31000,
 19600,
 89000,
 17000,
 41200,
 43200,
 139500,
 19500,
 122200,
 191100,
 27600,
 133900,
 82000,
 30000,
 30400,
 75300,
 15900,
 58900,
 24400,
 44800,
 37100,
 53900,
 25600,
 20600,
 63000,
 20200,
 163900,
 49700,
 44600,
 37600,
 13600,
 16000,
 61800,
 86500,
 32300,
 17700,
 35100,
 31800,
 137800,
 38400,
 40000,
 20400,
 33000,
 312000,
 121400,
 19700,
 33300,
 15300,
 104800,
 24400,
 21100,
 27900,
 61000,
 412600,
 38100,
 49800,
 42800,
 44200,
 40500,
 81100,
 58200,
 12100,
 40100,
 25600,
 272400,
 16500,
 19600,
 43800,
 63900,
 38500,
 5800,
 63400,
 13900,
 17200,
 14000,
 26600,
 177200,
 126000,
 55200,
 3400,
 29100,
 15500,
 ...]

In [49]:
a=min(customerTotalList)
a

0

In [50]:
b=max(customerTotalList)
b

3103500

In [56]:
customerTotalList.remove(a)
customerTotalList.remove(b)

In [57]:
len(customerTotalList)

299998

In [66]:
average=sum(customerTotalList)/len(customerTotalList)
average

35218.95312635417

In [70]:
yearweekValue="2017w42"
yearweekValue.split("w")[0]

'2017'