In [1]:
import pandas as pd
regionMasterData=pd.read_csv('./dataset/kopo_region_mst.csv')
regionMasterData.head()

  REGIONID REGIONNAME
0      A00     AFRICA
1      A01    AMERICA
2      A02      KOREA
3      A03     GERMAN
4      A04     BRAZIL

In [3]:
import pandas as pd
selectExample=pd.read_csv('./dataset/kopo_channel_seasonality_new.csv')
selectExample.head()

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0
2      A60  PRODUCT34    201402   4463.0
3      A60  PRODUCT47    201402      0.0
4      A60  PRODUCT56    201402     23.0